h1 {
  color: black;
  margin-left: 20px;
  font-size: 30px;
}
h5 { // date
  color: #443f3f;
  margin-left: 20px;
  margin-top: -7px;
  font-size: medium;
  margin-bottom: 15px;
  text-transform: capitalize;
} 

.background {
  background-color: lightgray;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 1px;
}

.add-button {
  --background: #383a3e;
  position: absolute;
  bottom: 5px;
  width: 96%;
  --color: #ffffff;
  margin-left: 2%;
}